body {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}
.todo-container {
  max-width: 520px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 7px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
form {
  display: flex;
}
